.modalWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: transparent;
}

.contentWindow {
    padding: 40px;
    background: white;
    min-width: 480px;
    min-height: 700px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.modalWindow.active {
    display: flex;
    justify-content: center;
    align-items: center;
}