.button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #558CB7;
    border-radius: 3px;
    font-size: 0.875rem;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
}

.button:hover:not(:disabled) {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.button:active:not(:disabled) {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.button:disabled:not(.isLoginUser) {
    background-color: #82B3D9;
}

.isLoginUser {
    background-color: #007b1b75;
}
