.textarea {
    padding: 10px 1rem;
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.875rem;
    font-weight: normal;
    border: 2px solid #DDDDDD;
    width: 100%;
}

.textarea:focus {
    border: 2px solid #82B3D9;
}
