.wrapper {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7.5px;
}

.item_require {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerRequirements {
    font-size: 0.75rem;
    font-weight: bold;
    color: #777777;
}

.text {
    font-size: 0.75rem;
    font-weight: normal;
    color: #777777;
}

.textDefault {
    color: #777777;
}

.textOk {
    color: #007B1B;
}

.textError {
    color: #9F2B11;
}

.iconDefaultPas {
    background-image: url(../../../assets/img/checkItem_default.svg);
    width: 14px;
    height: 14px;
    background-size: contain;
    margin-right: 5px;
}

.iconOkPas {
    background-image: url(../../../assets/img/checkItem_ok.svg);
    width: 14px;
    height: 14px;
    background-size: contain;
    margin-right: 5px;
}

.iconErrorPas {
    background-image: url(../../../assets/img/checkItem_error.svg);
    width: 14px;
    height: 14px;
    background-size: contain;
    margin-right: 5px;
}