@import '../../ModalWindow/sizeWindow.scss';
@import '../sizesForm.scss';

.wrapperForRegistrationFields {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    height: $heightModalWindow - calc(2 * ($paddingWindow + $headerHeight));
}

.wrapperForRegistrationFields:last-child{
    align-self: flex-end;
}

.inputs {
    width: 100%;
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperGender {
    margin-bottom: 25px;
}

.wrapperEducation {
    margin-bottom: 28px;
}

.wrapperAbout {
    margin-bottom: 28px;
}

.wrapperMagazineSections {
    margin-bottom: 28px;
}

.wrapperHeader {
    margin-bottom: 7.5px;
}

.headerField {
    font-size: 0.875rem;
    color: black;
    font-weight: bold;
    margin-bottom: 7.5px;
}

.subscription {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-bottom: 7.5px;
}

.checkbox {
    background-image: url(../../../../assets/img/checkBox_default.svg);
    width: 12px;
    height: 12px;
    background-size: contain;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox:hover {
    background-image: url(../../../../assets/img/checkBox_hover.svg);
    width: 12px;
    height: 12px;
    background-size: contain;
}

.checkboxChecked {
    background-image: url(../../../../assets/img/checkBox_checked.svg);
    width: 12px;
    height: 12px;
    background-size: contain;
    cursor: pointer;
    margin-right: 5px;
}

.text {
    font-size: 0.875rem;
    font-weight: normal;
}