@import '../ModalWindow/sizeWindow.scss';
@import './sizesForm.scss';

.formRegistration {
    margin: 0;
    padding: $paddingWindow;
    box-sizing: border-box;
    position: relative;
    min-height: $heightModalWindow;
}

.header {
    min-height: $headerHeight;
    margin-bottom: $headerHeight;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
}

.btnClose {
    position: absolute;
    top: $positionBtnClose;
    right: $positionBtnClose;
    background-image: url(../../../assets/img/closeBtn_default.svg);
    width: $positionBtnClose;
    height: $positionBtnClose;
    background-size: contain;
    cursor: pointer;
}

.btnClose:hover,
.btnClose:active {
    position: absolute;
    top: $positionBtnClose;
    right: $positionBtnClose;
    background-image: url(../../../assets/img/closeBtn_focus.svg);
}


